@tailwind base;
@tailwind components;
@tailwind utilities;

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #8dc63f;
    text-decoration-thickness: 3px;
}

.carousel {
    width:1287px;
    height:438px;
  }

.btns:hover {
    transform: scale(1.1);
    transition: all .5s;
}


.boxes:hover {
    transform: scale(1.1);
    transition: all .5s;
}

.sec_1 {
    background-image: url("/img/carousal.png");
}

.sec_height {
    height: 560px;
}


.donation_box_content {
    height: 100%
}

input {

    width: 145px;
}


.upcoming_projects {
    margin-top: 50px;
    padding-bottom: 10px
}

.upcoming_picture_box {
    position: relative;
    width: 100%
}

.upcoming_picture_box img {
    border-top-left-radius: 100px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
    height: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%
}

.upcoming_picture_box .upcoming_text_box {
    align-items: center;
    background-color: #8dc63f !important;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top-left-radius: 60px;
    display: flex;
    height: 50%;
    justify-content: center;
    padding: 65px;
    position: absolute;
    top: 0;
    width: 50%
}

.upcoming_picture_box .upcoming_text_box h3 {
    color: #fff
}

.upcoming_picture_box .upcoming_text_box_transparent_1 {
    background-color: initial;
    border-bottom: 1px solid #fff;
    border-top-right-radius: 100px;
    height: 50%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%
}

.upcoming_picture_box .upcoming_text_box_transparent_2 {
    background-color: initial;
    border-left: 1px solid #fff;
    bottom: 0;
    height: 50%;
    position: absolute;
    right: 0;
    width: 50%
}

.upcoming_projects_items {
    margin-bottom: 20px
}

.upcoming_projects_items div div {
    background-color: #eee;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px
}

.upcoming_projects_items div div img {
    height: 30px;
    object-fit: contain;
    width: 30px;
    max-width: none;
}

.upcoming_picture_box_rtl .upcoming_text_box {
    border-top-left-radius: 0;
    border-top-right-radius: 60px
}

.upcoming_picture_box_rtl img {
    border-top-left-radius: 0;
    border-top-right-radius: 80px
}

.upcoming_picture_box_rtl .upcoming_text_box_transparent_1_rtl {
    left: 0;
    right: auto
}

.upcoming_projects_items_rtl div div {
    margin-left: 20px;
    margin-right: 0
}

.upcoming_projects_heading {
    width: 40%
}

.upcoming_projects_heading_rtl {
    width: 20%
}

.other_projects_head h5 {
    color: #0d6db7 !important;
    line-height: 15px !important;
    margin-bottom: 0
}

@media (max-width: 576px) {
    .upcoming_projects_heading {
        margin: 0 auto;
        text-align: center;
        width: 50%
    }

    .upcoming_text_box {
        border-top-left-radius: 0 !important;
        padding: 10px !important
    }

    .upcoming_text_box h3 {
        font-size: 16px !important
    }

    .upcoming_picture_box_rtl .upcoming_text_box {
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }

}

.services_counter {
    background-color: #0d6db7;
    left: 0;
    padding-bottom: 100px;
    padding-top: 100px;
    position: absolute;
    position: relative;
    width: 100%;
}

.services_counter:before {
    background-image: url(/img/footer.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: .2;
    position: absolute;
    top: 0;
    width: 100%
}

.counter_single {
    flex-direction: column
}

.counter_image,
.counter_single {
    align-items: center;
    display: flex
}

.counter_image {
    background-color: #fff;
    border-radius: 60px;
    height: 120px;
    justify-content: center;
    margin-bottom: 20px;
    width: 120px
}

.counter_image img {
    height: 50%;
    object-fit: contain;
    width: 50%
}

.counter_heading {
    margin-bottom: 20px;
    text-align: center
}

.counter_heading h2 {
    margin: 0 !important;
    padding: 0
}

.counter_heading h2,
.counter_heading span {
    color: #fff !important
}


.footer {
    background-color: #424242;
    padding: 50px;
    position: relative;
}


.footer:before {
    background-image: url(/img/footer.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: .1;
    position: absolute;
    top: 0;
    width: 100%;
}

.social_icons {
    margin-top: 20px;
    padding: 10px;
    z-index: 1
}

.social_icons div {
    border-radius: 0;
    cursor: pointer;
    margin-left: 10px;
    z-index: inherit
}

.social_icons div img {
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    z-index: inherit
}

.social_icons div img:active {
    opacity: .5
}

.footer_about {
    z-index: 3 !important
}

.footer_about h4 {
    color: #fff !important
}

.footer_about ul {
    padding: 0;
    z-index: inherit
}

.footer_about ul li {
    cursor: pointer;
    line-height: 40px;
    list-style-type: none;
    z-index: inherit
}

.footer_about ul li span {
    color: #fff
}

.footer_contact h4 {
    color: #fff !important
}

.footer_contact span {
    color: #fff !important;
    font-size: 12px
}

.footer_copyright {
    align-items: center;
    border-top: 0.2px solid hsla(0, 0%, 100%, .2);
    display: flex;
    justify-content: center;
}

.footer_copyright span {
    color: #fff !important;
    margin-top: 20px
}

.z_index_1 {
    z-index: 1 !important
}




@media (max-width: 850px) {
    .carousel {
        width: auto;
        height: auto;
      }

    .right_div {
        display: none;
    }

    .checkbtn {
        display: block;
    }

    .links {
        /* padding-top:80px ; */
        display: inline-block;
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.80);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }

    .nav_links {
        margin-top: 2rem;
    }

    #check:checked~.links {
        left: 0;
    }
}

.ltr {
    direction: ltr !important;
}

.saylani_guide {
    width: 100vw;
    background-color: #0d6db7;
    background-image: url(/img/guid.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    text-align: center
}

.guide_heading h2 {
    color: #fff !important
}

.guide_input {
    flex: 0.9 1
}

.guide_btn {
    background-color: #fff !important;
    color: #666 !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    margin-top: 5px;
    padding: 15px 30px !important;
    width: 100% !important
}

.input_color_blue input,
.input_color_green input {
    border-color: #fff !important;
    color: #fff !important
}

footer li {
    text-align: center;
}

@media (max-width: 768px) {
    .guide_input {
        margin-bottom: 20px !important
    }
}